<!DOCTYPE html>
<html lang="en">

<head>
   <script src="https://kit.fontawesome.com/8b6f2e466e.js" crossorigin="anonymous"></script>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Quick Teller Marchant Financial Services</title>
   <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
   <header>
      <section id="navbar">
         <div class="logo">
            <h1><span class="primary-text"><i class="fas fa-book-open"></i> Quick</span>Teller Marchant</h1>
         </div>
         <div class="menu">
            <ul>
               <li><a href="#home">Home</a></li>
               <li><a href="#services">Services</a></li>
               <li><a href="#cases">Cases</a></li>
               <li><a href="#team">About</a></li>
               <li><a href="#contact">Contact</a></li>
            </ul>
         </div>
      </section>

      <div id="cover">
         <h1>The Sky Is The Limit</h1>
         <p>We provide world class financial assistance</p>
         <a class="btn" href="#about">Read More</a>
      </div>
   </header>

   <!-- Services -->
<section id="services">
   <!-- USP -->

   <section class="flex">
      <div class="box">
         <i class="fas fa-university fa-2x"></i>
         <h3>Investment Banking</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, voluptas!</p>
      </div>
      <div class="box">
         <i class="fas fa-book-reader fa-2x"></i>
         <h3>Portfolio Manager</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, minima!</p>
      </div>
      <div class="box">
         <i class="fas fa-pencil-alt fa-2x"></i>
         <h3>Tax & Custodial</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, impedit!</p>
      </div>
   </section>

   <!-- Solutions -->

   <section class="solutions flex-columns">
      <div class="row">
         <div class="column img">
            <img src="/img/home/people.jpg" alt="">
         </div>
         <div class="column text bg-primary">
            <h4>What you are looking for</h4>
            <h1>We provide best solutions</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil tempora repellat sed, autem ad dolor a
               reprehenderit aspernatur cum eum?</p>
            <a href="#" class="btn btn-outline">Read More</a>
         </div>
      </div>
   </section>
</section>

   <!-- Cases -->

   <section id="cases">
      <div class="section-header">
         <h4>This is what we do</h4>
         <h1 class="large-heading">Business Cases</h1>
         <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, omnis.</p>
      </div>
      <div class="grid">
         <div class="grid-row">
            <div class="grid-column">
               <img src="/img/cases/cases1.jpg" alt="">
               <img src="/img/cases/cases2.jpg" alt="">
            </div>
            <div class="grid-column">
               <img src="/img/cases/cases3.jpg" alt="">
               <img src="/img/cases/cases4.jpg" alt="">
            </div>
            <div class="grid-column">
               <img src="/img/cases/cases5.jpg" alt="">
               <img src="/img/cases/cases6.jpg" alt="">
            </div>
            <div class="grid-column">
               <img src="/img/cases/cases7.jpg" alt="">
               <img src="/img/cases/cases8.jpg" alt="">
            </div>
         </div>
      </div>
   </section>

   <!-- Our Team -->

   <section id="team">
      <div class="section-header">
         <h4>Who we are</h4>
         <h1 class="large-heading">Our Proffesional Team</h1>
         <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, omnis.</p>
      </div>
      <div class="flex">
         <div class="teammate">
            <img src="/img/team/person1.jpg" alt="">
            <h4>John Doe</h4>
            <p>President</p>
         </div>
         <div class="teammate">
            <img src="/img/team/person2.jpg" alt="">
            <h4>John Doe</h4>
            <p>Vice President</p>
         </div>
         <div class="teammate">
            <img src="/img/team/person3.jpg" alt="">
            <h4>John Doe</h4>
            <p>President</p>
         </div>
      </div>

      <section id="contact" class="callback flex-columns">
         <div class="row">
            <div class="column img">
               <img src="/img/home/contact.jpg" alt="">
            </div>
            <div class="column text bg-light">
               <h1 class="large-heading">Request Callback </h1>
               <form action="">
                  <input type="name" placeholder="Enter name">
                  <input type="email" placeholder="Enter email">
                  <input type="text" placeholder="Enter phone">
               </form>
               <a href="#" class="btn btn-primary">Send</a>
            </div>
         </div>
      </section>

      <footer class="bg-dark">
         <div class="social">
            <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
            <a href="#"><i class="fab fa-youtube fa-2x"></i></a>
            <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
         </div>
<p>Copyright &copy; 2020 - Edgeledger</p>      </footer>
</body>

</html>
